PORT=3000
LOG_DEBUG="combined" # 'dev','monitoring','combined','common','short','tiny'
DATABASE_URL=connection_type://username:password@localhost:3306/database_name

JWT_SECRET=
JWT_EXPIRES_IN=1h

FRONTEND_URL=http://localhost:5173
